<div class="card is-transparent testimonial horizontal {{class}}">
	<div class="card-header">
		<img src="{{testimonial.thumbnail.src('tiny') }}" alt="testimonio de {{testimonial.title}} para cursos de videojuegos y arte digital ARKDE" loading="lazy">
		<div class="right-content">
			<h4 class="subtitle is-size-4 with-subtitle">{{testimonial.title}}</h4>
			<div class="stars">
				<span class="bb-icons bb-icon-star-fill"></span>
				<span class="bb-icons bb-icon-star-fill"></span>
				<span class="bb-icons bb-icon-star-fill"></span>
				<span class="bb-icons bb-icon-star-fill"></span>
				<span class="bb-icons bb-icon-star-fill"></span>
			</div>
		</div>
	</div>
	<div class="card-content">
		<p class="is-marginless">{{testimonial.txt}}</p>
	</div>
</div>
