<a title="{{course.title}}" href="{{course.link}}" class="has-card ">
	<div class="card course hoverable mini">
		<div class="card-header">
			<img src="{{course.thumbnail.src('medium')}}" alt="{{course.title}} curso videojuegos y arte digital en arkde" loading="lazy">
		</div>
		<div class="card-content">
			<p class="subtitle is-size-6 has-text-weight-normal">{{course.title}}</p>
		</div>
	</div>
</a>